{% if cookie_bar_as == 'popup' %}
<div class="gdprmodal gdprfade" id="gdpr-{{ cookie_bar_as }}" role="dialog" data-keyboard="false" data-backdrop="{{ backdrop }}">
    <div class="gdprmodal-dialog gdprmodal-dialog-centered">
        <!-- Modal content-->
        <div class="gdprmodal-content">
            <div class="gdprmodal-body">
{% endif %}
<!-- WP Cookie Notice for GDPR, CCPA & ePrivacy Consent v{{ version }} by WPEka Club - https://wordpress.org/plugins/gdpr-cookie-consent/ -->
<div id="{{ container_id }}" class="{{ container_class }}">
    {% include skin_template %}
</div>
{% if cookie_bar_as == 'popup' %}
            </div>
        </div>
    </div>
</div>
{% endif %}
{% if gdpr_notify %}
    {% if cookie_data %}
        {% if cookie_bar_as == 'banner' and not button_settings_as_popup %}

        {% else %}
            <div class="gdpr_messagebar_detail {{ button_settings_layout_skin }} {{ template_parts }}">
                {% include layout_skin_template with cookie_data %}
            </div>
        {% endif %}

    {% endif %}
    {% if show_again %}
        <div id="{{ show_again_container_id }}" class="{{ container_class }}">
            <span>{{ __( show_again_text, 'gdpr-cookie-consent' ) }}</span>
        </div>
    {% endif %}
{% endif %}
{% if eprivacy_notify %}
    {% if show_again %}
        <div id="{{ show_again_container_id }}" class="{{ container_class }}">
            <span>{{ __( show_again_text, 'gdpr-cookie-consent' ) }}</span>
        </div>
    {% endif %}
{% endif %}
{% if ccpa_notify %}
<div class="ccpa_messagebar_detail {{ button_settings_layout_skin }} {{ template_parts }}">
    {% include 'templates/modals/ccpa.twig' %}
</div>
{% endif %}
