<div class="gdprmodal gdprfade" id="gdpr-ccpa-gdprmodal" role="dialog" data-keyboard="false" data-backdrop="{{ cookie_data['backdrop'] }}">
    <div class="gdprmodal-dialog gdprmodal-dialog-centered">
        <div class="gdprmodal-content">
            <div class="gdprmodal-body"><p>{{ __( optout_text, 'gdpr-cookie-consent' ) }}
                    <button type="button" class="gdpr_action_button close dashicons dashicons-no" data-dismiss="gdprmodal" data-gdpr_action="ccpa_close"><span class="close dashicons dashicons-no">Close</span></button></p>
            </div>
            <div class="gdprmodal-footer">
                {% if show_credits %}
                    {% if credits %}
                        <div class="powered-by-credits">{{ credits }}</div>
                    {% endif %}
                {% endif %}
                <button id="cookie_action_cancel" type="button" class="{{ button_cancel_classes }}" data-gdpr_action="cancel" data-dismiss="gdprmodal">{{ __( button_cancel_text, 'gdpr-cookie-consent' ) }}</button>
                <button id="cookie_action_confirm" type="button" class="{{ button_confirm_classes }}" data-gdpr_action="confirm" data-dismiss="gdprmodal">{{ __( button_confirm_text, 'gdpr-cookie-consent' ) }}</button>
            </div>
        </div>
    </div>
</div>